@use 'variables.scss' as var;

.header {
  background-color: #fff;
  border-bottom: solid 1px var.$baseRed;
}
.nav {
  max-width: 1200px;
  margin: 0 auto;
  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &_item {
    display: block;
  }
  &_item + &_item {
    margin-left: 16px;
  }
  &_item a {
    font-size: 22px;
    font-weight: bold;
    color: var.$baseGrey;
    transition: all .3s;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &_item-first {
    margin-right: auto;
  }
}
