@use 'variables.scss' as var;

.wrapper {
  display: flex;
  min-height: 100vh;
}
.main {
  padding: 100px 56px 80px;
  background: #f9f9f9;
  width: calc(100% - 240px);
  margin-left: auto;
}

.section-guidance,
.section-slide {
  margin-top: 80px;
  padding-top: 32px;
  border-top: double 1px var.$baseRed;
}

.heading-lv2 + .inner {
  margin-top: 40px;
}

.inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__character {
    width: 200px;
    img {
      transform: rotate3d(0, 1, 0.1, 180deg);
    }
    &__caption {
      color: var.$baseRed;
      background-color: #fff;
      font-size: 14px;
      line-height: 1.6;
      text-align: center;
      margin-top: 16px;
      padding: 4px 1px;
      border: solid 2px #d30000;
      max-width: 90px;
      margin: 0 auto;
    }
    &__caption strong{
      text-align: center;
      display: block;
    }
  }
  &__box {
    background: #fff;
    border: solid 4px var.$subYellow;
    text-align: center;
    padding: 20px 16px;
    flex: 1;
    margin-left: 80px;
    position: relative;
    &::before {
      content: "";
      background: #fff;
      position: absolute;
      border: #fcf264 solid 3px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      left: -3%;
      top: 13%;
    }
    &::after {
      content: "";
      background: #fff;
      position: absolute;
      border: #fcf264 solid 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      left: -6%;
      top: 17%;
    }
  }
}

//投稿詳細
.postContent {
  margin-top: 32px;
  background: #fff;
  border-radius: 4px;
  padding: 24px 40px;
  p +h2,
  p +h3,
  p +h4,
  p +h5,
  p +ul,
  p +li,
  ul+p,
  ul+h2{
    margin-top: 24px;
  }
  h2+p,
  h2+ul,
  h3+ul {
    margin-top: 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.4;
    background-color: var.$baseRed;
    padding: 6px 10px;
    color: #fff;
    position: relative;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
  }
  li {
    font-size: 18px;
    line-height: 1.4;
    position: relative;
    padding: 0 0 0 20px;
    /* text-indent: 0em; */
    margin-left: 0.6em;
    &::before {
      content: "●";
      color: #d40000;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      width: 8px;
      height: 8px;
      vertical-align: top;
      display: inline-block;
    }
  }
  li+li {
    margin-top: 16px;
  }
}

//pagination

.nav-links {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  .page-numbers {
    border: solid 1px var.$baseRed;
    background-color: var.$baseRed;
    padding: 8px 10px;
    color: #fff;
    &.current {
      color: inherit;
    }
  }
}
//paginationのデフォルトの文字を無効化（公式方法）
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

//other
.text-center {
  text-align: center;
}
.postContent + .text-center {
  margin-top: 64px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
