@use 'variables.scss' as var;

.section-guidance {
  margin-top: 80px;
  padding-top: 32px;
  border-top: double 1px var.$baseRed;
}

.inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__character {
    width: 200px;
    &__caption {
      color: var.$baseRed;
      font-size: 14px;
      line-height: 1.6;
    }
    &__caption strong{
      text-align: center;
      display: block;
    }
  }
  &__box {
    background: #fff;
    border: solid 4px var.$subYellow;
    text-align: center;
    padding: 14px 10px;
    flex: 1;
    margin-left: 80px;
    position: relative;
    &::before {
      content: "";
      background: #fff;
      position: absolute;
      border: #fcf264 solid 3px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      left: -3%;
      top: 13%;
    }
    &::after {
      content: "";
      background: #fff;
      position: absolute;
      border: #fcf264 solid 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      left: -6%;
      top: 17%;
    }
  }
}

.postContent {
  margin-top: 32px;
  background: #fff;
  border-radius: 4px;
  padding: 24px 40px;
  p +h2,
  p +h3,
  p +h4,
  p +h5,
  p +ul,
  p +li,
  ul+p,
  ul+h2{
    margin-top: 24px;
  }
  h2+p,
  h2+ul {
    margin-top: 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.4;
    background-color: var.$baseRed;
    padding: 6px 10px;
    color: #fff;
    position: relative;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
  }
  li {
    font-size: 18px;
    line-height: 1.4;
    position: relative;
    padding: 0 0 0 20px;
    /* text-indent: 0em; */
    margin-left: 0.6em;
    &::before {
      content: "●";
      color: #d40000;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      width: 8px;
      height: 8px;
      vertical-align: top;
      display: inline-block;
    }
  }
  li+li {
    margin-top: 16px;
  }
}
