@use 'variables.scss' as var;

.aside {
  background-image: linear-gradient(to bottom, #ffffc6 0%, #ffe38e 100%);
  // border-right: solid 1px #d40000;
  // min-height: 100vh;
  width: 240px;
  max-width: 240px;
  z-index: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 40px 0 0;

  &.is-fixed {
    position: fixed;
    top: 0;
  }
}

.sidenav {
  padding: 0 16px 32px;
  &_item + * {
    margin-top: 2px;
  }
  &_item a{
    color: var.$baseBlue;
    font-size: 18px;
    // border: 1px solid #fff;
    position: relative;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }
  }
  &_text a{
    font-size: 14px;
    line-height: 1.4;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tagBox {
  background-color: var.$fourthYellow;
  padding: 14px;
}

// WP標準タグ
.cat-item {
  .children {
    padding-left: 1em;
  }
}
.cat-item a {
  font-size: 14px;
  line-height: 1.4;
  &:hover {
    text-decoration: underline;
  }
}
