// color
$baseRed: #d40000;
$subRed: #B30000;
$baseOrange: #D46A00;
$baseYellow: #fff264;
$subYellow: #fcf264;
$thirdYellow: #D48A3F;
$fourthYellow: #fffbeb;
$baseGreen: #00D400;
$basePurple: #6A00D4;
$subPurple: #D400D4;
$basePink: #D4006A;
$subPink: #ff7d7d;
$baseGrey: #777;
$baseBlue: #3282c9;
$subBlue: #3282c9;
$baseBeige: #ffffc6;
