@charset "UTF-8";
/* A Modern CSS Reset */
/* https://coliss.com/articles/build-websites/operation/css/css-reset-for-modern-browser.html */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

[role=list], ol[role=list], li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  color: #3282c9;
}

.heading-lv1 {
  font-size: 40px;
  line-height: 1.5;
  color: #222;
}

.heading-lv2 {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #d40000;
  text-shadow: #fff264 2px 0px, #fff264 -2px 0px, #fff264 0px -2px, #fff264 0px 2px, #fff264 2px 2px, #fff264 -2px 2px, #fff264 2px -2px, #fff264 -2px -2px, #fff264 1px 2px, #fff264 -1px 2px, #fff264 1px -2px, #fff264 -1px -2px, #fff264 2px 1px, #fff264 -2px 1px, #fff264 2px -1px, #fff264 -2px -1px;
}

.font-mincho {
  font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
}

.text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 32px;
}
.text:first-child {
  margin-top: 0;
}
.text + .text {
  margin-top: 16px;
}

.text-l {
  font-size: 30px;
}

.note {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 16px;
  color: #777;
}

.textTime {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.4;
  color: #D46A00;
  text-align: right;
}

.textTime + .listTag {
  margin-top: 16px;
}

.listTag {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.listTag__item {
  border-radius: 40px;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  font-weight: bold;
  padding: 4px 7px;
  text-align: right;
}
.listTag__item.result {
  background-color: #d40000;
}
.listTag__item.transfer {
  background-color: #D46A00;
}
.listTag__item.football {
  background-color: #D4006A;
}
.listTag__item.news {
  background-color: #3282c9;
}
.listTag__item.production {
  background-color: #00D400;
}
.listTag__item.entertainment {
  background-color: #d40000;
}
.listTag__item.music {
  background-color: #D4006A;
}
.listTag__item.guitar {
  background-color: #D400D4;
}
.listTag__item.comic {
  background-color: #6A00D4;
}
.listTag__item.electronics {
  background-color: #00D400;
}
.listTag__item.movie {
  background-color: #D46A00;
}
.listTag__item.anime {
  background-color: #3282c9;
}
.listTag__item.game {
  background-color: #3282c9;
}
.listTag__item.everyday {
  background-color: #777;
}
.listTag__item.food {
  background-color: #B30000;
}
.listTag__item.training {
  background-color: #D48A3F;
}
.listTag__item.technology {
  background-color: royalblue;
}
.listTag__item.web {
  background-color: aqua;
}
.listTag__item.electronics {
  background-color: greenyellow;
}
.listTag__item + .listTag__item {
  margin-left: 0.4em;
}

.header {
  background-color: #fff;
  border-bottom: solid 3px #d40000;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.nav_item {
  display: block;
}
.nav_item + .nav_item {
  margin-left: 16px;
}
.nav_item a {
  font-size: 22px;
  font-weight: bold;
  color: #777;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.nav_item a:hover {
  text-decoration: underline;
}
.nav_item-first {
  margin-right: auto;
}

.aside {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffc6), to(#ffdd74));
  background-image: linear-gradient(to bottom, #ffffc6 0%, #ffdd74 100%);
  min-height: 100vh;
  width: 240px;
  max-width: 240px;
  z-index: 1;
}
.aside.is-fixed {
  position: fixed;
  top: 0;
}

.sidenav {
  padding: 32px 16px;
}
.sidenav_item + * {
  margin-top: 2px;
}
.sidenav_item a {
  color: #3282c9;
  font-size: 20px;
  position: relative;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}
.card__item {
  border-color: #fff;
  width: calc((100% - 24px) / 2);
  border: solid #d40000 4px;
  -webkit-box-shadow: 8px 8px 0px 0px #B30000;
          box-shadow: 8px 8px 0px 0px #B30000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card__item:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.card__item:nth-of-type(n + 3) {
  margin-top: 40px;
}
.card__link {
  display: block;
  padding: 0 16px 16px 16px;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card__link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.card__image {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.card__image img {
  margin: 0 auto;
  -webkit-box-shadow: 1px 4px 10px #000;
          box-shadow: 1px 4px 10px #000;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  color: #d40000;
  background-color: white;
  padding: 5px 16px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card__text {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;
  color: #777;
  margin-top: 24px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  padding: 100px 48px 80px;
  background: #f9f9f9;
  width: calc(100% - 240px);
  margin-left: auto;
}

.section-guidance {
  margin-top: 80px;
  padding-top: 32px;
  border-top: double 1px #d40000;
}

.inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.intro__character {
  width: 200px;
}
.intro__character__caption {
  color: #d40000;
  font-size: 14px;
  line-height: 1.6;
}
.intro__character__caption strong {
  text-align: center;
  display: block;
}
.intro__box {
  background: #fff;
  border: solid 4px #fcf264;
  text-align: center;
  padding: 14px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 80px;
  position: relative;
}
.intro__box::before {
  content: "";
  background: #fff;
  position: absolute;
  border: #fcf264 solid 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -3%;
  top: 13%;
}
.intro__box::after {
  content: "";
  background: #fff;
  position: absolute;
  border: #fcf264 solid 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  left: -6%;
  top: 17%;
}

.postContent {
  margin-top: 32px;
  background: #fff;
  border-radius: 4px;
  padding: 24px 40px;
}
.postContent p + h2,
.postContent p + h3,
.postContent p + h4,
.postContent p + h5,
.postContent p + ul,
.postContent p + li,
.postContent ul + p,
.postContent ul + h2 {
  margin-top: 24px;
}
.postContent h2 + p,
.postContent h2 + ul {
  margin-top: 16px;
}
.postContent h2 {
  font-size: 24px;
  line-height: 1.4;
  background-color: #d40000;
  padding: 6px 10px;
  color: #fff;
  position: relative;
}
.postContent p {
  font-size: 18px;
  line-height: 1.8;
}
.postContent li {
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  padding: 0 0 0 20px;
  /* text-indent: 0em; */
  margin-left: 0.6em;
}
.postContent li::before {
  content: "●";
  color: #d40000;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  vertical-align: top;
  display: inline-block;
}
.postContent li + li {
  margin-top: 16px;
}

.heading-lv2 + .listCat {
  margin-top: 32px;
}

.listCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ffffc6;
  border: solid 2px #fff264;
  padding: 8px 10px;
}
.listCat > .cat-item + .cat-item {
  margin-left: 1em;
}
.listCat > .cat-item .children {
  padding-left: 1em;
}
.listCat .cat-item {
  font-size: 14px;
  line-height: 1.4;
  display: inline-block;
}

.articleCard {
  margin-top: 32px;
  width: 100%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
.articleCard__item {
  margin: 16px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  -webkit-box-shadow: 8px 10px 10px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 8px 10px 10px -10px rgba(0, 0, 0, 0.8);
  display: inline-block;
  border: solid 4px #fff264;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.articleCard__item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.articleCard__item > a {
  padding: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  position: relative;
}
.articleCard__item a img {
  max-height: 200px;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.articleCard__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 16px;
  color: #d40000;
}
.articleCard__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #777;
  margin-top: 16px;
}
.articleCard__time {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: #D46A00;
  margin-top: 8px;
}

/*
Theme Name: blog
*/

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .heading-lv1 {
    font-size: 32px;
  }
  .heading-lv2 {
    font-size: 28px;
  }
}
/*# sourceMappingURL=maps/style.css.map */